
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font> {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */

  main > section{
    margin-top: 130px;
  }

  main{
    max-width: 1200px;
    margin: 0 auto;
  }

  .display-flex{
    display: flex;
  }

  .navbar,.banner{max-width: 1200px;
    margin: 0 auto;

  }

  /* dark 2 */

  .text-grey{
    color: #424242;
  }

  .btn-primary{
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 21px 35px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
  }

  

  /* dark 3 */

  /* header styles */

  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }

  .brand{
    font-weight: 700;
    font-size: 2rem;
  }

  /* navbar styles */

  .nav-item{
   list-style: none;
   margin-right: 40px;
 
    
  }

  .nav-link{
    text-decoration: none;
    color: rgb(66, 66, 66);

font-size: 18px;
font-weight: 500;
  }

 

  .navbar{
   
    justify-content: space-between;
    
  align-items: center;


}

/* banner related styles */

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-image{
width: 100%;
}

/* teams and feature related styles */

.teams{
  display: flex;
  align-items: center;
  gap: 80px;
  

}

.team-images{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;

}

.our-features{
  max-width: 500px;
 
  
 
  
}

#quick{
  color: rgb(114, 114, 114);
  font-weight: 500;
}

#of{
  color: rgb(19, 19, 19);
  font-weight: 700;
}

#too-much{
  color: rgb(255, 144, 14);
  font-weight: 700;
}

.feature-title{
  font-size: 2rem;
}


/* responsive styles */

@media screen and (max-width:576px) {

  .navbar,.nav-links,.teams{
    flex-direction: column;
  }

   .navbar,.banner{max-width: 500px;
    margin: 0 auto;

  } 

  .team-images{
    grid-template-columns: repeat(1,1fr);
  }

 .our-features{
  max-width: 350px;
 }
}

/* medium devices */

@media screen and (min-width:577px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }

  .navbar,.banner{max-width:577px;
    margin: 0 auto;}
  
}





  